{
    "overrides": [
        {
            "files": [
                "*.cpp",
                "*.h",
                "*.hpp"
            ],
            "options": {
                "brace_style": "1tbs"
            }
        }
    ]
}